bin/
.idea/
charts/
cover.out
.DS_Store
coverage/
*.test
launch.json
coverage.out

cmd/fairshare-simulator/fairshare-simulator
cmd/snapshot-tool/snapshot-tool
cmd/time-aware-simulator/time-aware-simulator
cmd/time-aware-simulator/simulation_results.csv
cmd/time-aware-simulator/venv